<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="final-homepage">
            <div class="navbar-up">
                <div class="navbar-container">
                    <div class="navbar-wrapper">
                        <div class="navbar">
                            <div class="navbar-content">
                                <img class="navbar-brand" src="static/assets/navbar-brand.png">
                                <img class="logo" src="static/assets/img/logo.png">
                                <div class="navbar-menu">
                                    <div class="navbar-link">
                                        <div class="frame">
                                            <div class="div">
                                                <img class="pngwing" src="static/assetsimg/pngwing-3.png">
                                                <div class="text-wrapper">Deliver in</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navbar-link">
                                        <div class="frame-wrapper">
                                            <div class="frame-2">
                                                <img class="img" src="static/assets/2.png">
                                                <div class="text-wrapper-2">Cart</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navlow">
                <div class="navbar-content-wrapper">
                    <div class="navbar-content-2">
                        <img class="pngwing-2" src="static/assets/5.png">
                        <div class="navbar-menu-2">
                            <div class="navbar-link"><div class="text-wrapper-3">Medicine</div></div>
                            <div class="navbar-link"><div class="text-wrapper-3">Skincare</div></div>
                            <div class="navbar-link"><div class="text-wrapper-3">Homeopathy</div></div>
                            <div class="navbar-link"><div class="text-wrapper-3">Fitness</div></div>
                            <div class="navbar-link"><div class="text-wrapper-3">Vitamin</div></div>
                            <div class="navbar-link"><div class="text-wrapper-3">Nutrition</div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-slide">
                <div class="div-wrapper">
                    <div class="slider-container">
                        <div class="group">
                            <img class="element" src="static/assets/1.png">
                            <img class="element-2" src="static/assets/2.png">
                            <img class="element-3" src="static/assets/3.png">
                            <img class="element-4" src="static/assets/4.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-bar">
                <div class="frame-3">
                    <div class="search-container-wrapper">
                        <div class="search-container">
                            <img class="pngwing-3" src="static/assets/img/pngwing-6.png">
                            <div class="text-wrapper-4">Search here</div>
                            <img class="line" src="static/assets/img/line-1.svg" >
                        </div>
                    </div>
                    <div class="search-mahalaxmi-wrapper"><div class="search-mahalaxmi">Search Mahalaxmi Medicals</div></div>
                </div>
            </div>
            <div class="shop-by-categories"><div class="h-search-mahalaxmi">Shop by categories</div></div>
            <div class="categories">
                <div class="div-wrapper">
                    <div class="div-2">
                        <div class="right"><img class="vector" src="static/assets/img/vector.svg"></div>
                        <div class="frame-4">
                            <img class="element-5" src="static/assets/15.jpg">
                            <div class="text-wrapper-5">Lip care</div>
                        </div>
                        <div class="frame-5">
                            <img class="element-6" src="static/assets/11.jpg">
                            <div class="text-wrapper-5">Healthcare devices</div>
                        </div>
                        <div class="frame-6">
                            <img class="element-7" src="static/assets/12.jpg">
                            <div class="text-wrapper-5">Hair care</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offers">
                <div class="navbar-brand"><div class="search-mahalaxmi-2">Offers</div></div>
                <div class="frame-7">
                    <div class="frame-8">
                        <img class="rectangle" src="static/assets/img/rectangle-3.png">
                        <p class="sri-sri-tattva-his">Sri Sri Tattva His Vitality <br />Juice 1000 Ml</p>
                        <p class="element-get">
                            <span class="span">₹365.00&nbsp;&nbsp;</span>
                            <span class="text-wrapper-6">₹500.00<br /></span>
                            <span class="text-wrapper-7">Get 27% off</span>
                        </p>
                        <div class="frame-9"><div class="text-wrapper-8">ADD TO CART</div></div>
                    </div>
                    <div class="frame-10">
                        <img class="rectangle" src="static/assets/img/rectangle-4.png">
                        <div class="text-wrapper-5">SOFTOVAC Powder 250gm</div>
                        <p class="element-get">
                            <span class="span">₹373.00&nbsp;&nbsp;</span>
                            <span class="text-wrapper-6">₹500.00<br /></span>
                            <span class="text-wrapper-7">Get 33% off</span>
                        </p>
                        <div class="frame-9"><div class="text-wrapper-8">ADD TO CART</div></div>
                    </div>
                    <div class="frame-10">
                        <img class="rectangle" src="static/assets/img/rectangle-5.png">
                        <div class="text-wrapper-5">Dabur Honey 500gm</div>
                        <p class="element-get">
                            <span class="span">₹223.20&nbsp;&nbsp;</span>
                            <span class="text-wrapper-6">₹500.00<br /></span>
                            <span class="text-wrapper-7">Get 7% off</span>
                        </p>
                        <div class="frame-9"><div class="text-wrapper-8">ADD TO CART</div></div>
                    </div>
                    <div class="frame-10">
                        <img class="rectangle" src="static/assets/img/rectangle-6.png" />
                        <div class="text-wrapper-5">Violini Gel 75gm</div>
                        <p class="element-get">
                            <span class="span">₹196.00&nbsp;&nbsp;</span>
                            <span class="text-wrapper-6">₹500.00<br /></span>
                            <span class="text-wrapper-7">Get 20% off</span>
                        </p>
                        <div class="frame-9"><div class="text-wrapper-8">ADD TO CART</div></div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="frame-11">
                    <img class="ellipse" src="static/assets/img/ellipse-3.png" />
                    <div class="text-wrapper-5">Fast delievery</div>
                </div>
                <div class="frame-11">
                    <img class="ellipse" src="static/assets/img/ellipse-4.png" />
                    <div class="text-wrapper-5">Affordable Prices</div>
                </div>
                <div class="frame-11">
                    <img class="ellipse" src="static/assets/img/ellipse-5.png" />
                    <div class="text-wrapper-5">Happy Customer</div>
                </div>
            </div>
            <div class="customer-words">
                <div class="review-slider-wrapper">
                    <div class="div-2">
                        <div class="vector-wrapper"><img class="vector" src="static/assets/img/image.svg" /></div>
                        <div class="frame-12">
                            <div class="element-8"></div>
                            <div class="text-wrapper-9">Aman</div>
                            <p class="p">Products were really in good <br />quality</p>
                            <div class="frame-13">
                                <div class="text-wrapper-10">Rating:</div>
                                <div class="text-wrapper-11">5.0</div>
                                <img class="star" src="static/assets/img/star-1-3.svg" />
                            </div>
                        </div>
                        <div class="frame-14">
                            <div class="element-9"></div>
                            <div class="text-wrapper-9">Mithun</div>
                            <p class="p">
                                I was a bit doubtful about using an <br />Mahalaxmi Medicals , but this <br />exceeded my expectations.
                                The <br />discount coupons were great, prices <br />were very reasonable, and the delivery <br />was
                                quick and smooth. I would <br />definitely use it again.
                            </p>
                            <div class="frame-13">
                                <div class="text-wrapper-10">Rating:</div>
                                <div class="text-wrapper-11">5.0</div>
                                <img class="star" src="static/assets/img/star-1.svg" />
                            </div>
                        </div>
                        <div class="frame-6">
                            <div class="element-9"></div>
                            <div class="text-wrapper-9">Joy</div>
                            <p class="p">
                                The ordering process was quite easy.<br />I didn’t have difficulty navigating through<br />so many
                                pages. The offers you can get <br />here are beyond what other platforms <br />offer. Customer service,
                                including returns,<br />
                                is also very convenient. This website <br />deserves 5 stars.
                            </p>
                            <div class="frame-13">
                                <div class="text-wrapper-10">Rating:</div>
                                <div class="text-wrapper-11">5.0</div>
                                <img class="star" src="static/assets/img/star-1-2.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-mahalaxmi-3">What our Customers Say</div>
            </div>
            <footer class="footer">
                <div class="columns">
                    <div class="column">
                        <p class="MAHALAXMI-MEDICALS">
                            <span class="text-wrapper-12">MAHALAXMI MEDICALS<br /></span>
                            <span class="text-wrapper-13">+917894561230</span>
                        </p>
                        <div class="logo-wrapper"><img class="logo-2" src="static/assets/img/image.png" /></div>
                    </div>
                    <div class="small-columns">
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="text-wrapper-14">Social</div>
                                <div class="footer-links">
                                    <div class="link">Linkedin</div>
                                    <div class="link-2">facebook</div>
                                    <div class="link-2">Instagram</div>
                                </div>
                            </div>
                        </div>
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="text-wrapper-14">ABOUT</div>
                                <div class="footer-links">
                                    <div class="link-3">Terms &amp; Conditions</div>
                                    <div class="link-4">Privacy Policy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="designed-by">Website made by</div>
            </footer>
        </div>
    </body>
</html>
