<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Si Ram Medicals</title>
</head>
<body>

  <header>
    <h1>Mahalaxmi Medicals</h1>
    <p>Your Trusted Neighborhood Pharmacy</p>
  </header>

  <nav>
    <!-- Add navigation links if needed -->
    <a href="login" style="color: white;">Login</a>
  </nav>

  <main>
    <section id="services">
      <h2>Our Services</h2>
      <p>We offer a wide range of pharmaceutical services to meet your healthcare needs.</p>
      <div class="Div1">  Prescription Medications 
        <p>Get your Prescribed Medicine over here </p>
        <a href="General-medicine">Click here to find more </a>
      </div>
      
      <div class="Div1">  Generic Medicine</div>
      <div class="Div1">  Health and Wellness Products</div>
      
      
      
    </section>

    <section id="products">
      <h2>Featured Products</h2>
      <!-- Add featured products or categories with images and descriptions -->
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Mahalaxmi Medicals. All rights reserved.</p>
  </footer>

</body>
</html>
