body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4cafad;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  nav {
    background-color: rgb(235, 13, 13);
    color: white;
    text-align: center;
    padding: 0.5em;
  }
  
  main {
    padding: 2em;
  }
  .Div1 {
    margin: 10px;
    padding: 10px;
    border: 12 px ;
    border-style: ridge;
    border-color: blue;
    border-radius: 25px; 
  }

  section {
    margin-bottom: 2em;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position:-ms-page ;
    bottom: 0;
    /* width: 100%; */
  }
/* a:link{
  color: antiquewhite;
} */